[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = git@github.com:AmatsukiUrato/hugo-paper.git
[submodule "public"]
	path = public
	url = git@github.com:AmatsukiUrato/AmatsukiUrato.github.io.git
