[submodule "themes/jeffprod"]
	path = themes/hugo-blog-jeffprod
	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
[submodule "public"]
	path = public
	url = git@github.com:AmatsukiUrato/AmatsukiUrato.github.io.git
