<script defer src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/min/lunr.stemmer.support.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/tinyseg.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/min/lunr.multi.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/min/lunr.ja.min.js"></script>
<script defer src="{{ "js/search.js" | absURL }}"></script>
