<footer class="footer has-background-grey-darker has-text-white">
  <div class="content has-text-centered">
    <p>
      <a class="mysocial" href="{{ "about" | absURL }}">About</a>
    </p>
    <p>
      <span class="icon is-large"><a href="{{ .Site.Params.Twitter }}" class="mysocial" rel="me"><i
            class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
      <span class="icon is-large"><a href="{{ .Site.Params.Github }}" class="mysocial" rel="me"><i
            class="fab fa-github fa-3x"></i></a></span>&nbsp;&nbsp;
      <span class="icon is-large"><a href="/index.xml" class="mysocial" rel="me"><i
            class="fas fa-rss fa-3x"></i></a></span>
    </p>
    <p>
      Copyright &copy; {{ .Site.Title }} 2018-{{ now.Format "2006"}}
      <br>
      Theme by <a href="https://jeffprod.com" class="mysocial">JeffProd.com</a>
    </p>
    <p>Documentation under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img
          alt="クリエイティブ・コモンズ・ライセンス" style="vertical-align: middle;"
          src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
    <p>
      Code licensed under
      <a href="/about#%E3%83%96%E3%83%AD%E3%82%B0%E3%81%AE%E8%A8%98%E4%BA%8B%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6">
        <img style="vertical-align: middle;" alt="code-license"
          src="https://img.shields.io/badge/license-Multi--license-lightgrey">
      </a>
    </p>
  </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>

</html>
